@media screen and (max-width:1600px){
    .line {
        left: 58%;
    }

}
@media screen and (max-width:1440px){
    .container {
        max-width: 1320px;
    }
    .ready-bg {
        padding-top: 150px;
        margin-top: -120px;
        padding-bottom: 80px;
    }
    .our-partners {
        padding-top: 70px;
    }
    
    .team-sec {
        padding-top: 70px;
    }
    .benefit-txt h2 {
        font-size: 45px;
    }
    
    .benefit-txt h3 {
        font-size: 25px;
    }
    .benefit_img {
        width: 35%;
    }
    .team-sec h2 {
        font-size: 45px;
        margin-bottom: 30px;
    }
    .offer-sec .heading h2 {
        font-size: 45px;
    }
    .offer-sec .content p {
        font-size: 18px;
    }
    .ready-txt h2 {
        font-size: 45px;
    }
    .boost-txt h2 {
        font-size: 45px;
    }
    .ready-txt h3 {
        font-size: 25px;
    }
    .ready-txt p {
        font-size: 18px;
    }
    .counter-sec {
        padding-top: 70px;
    }
    .our-partners h2 {
        font-size: 45px;
        margin-bottom: 30px;
    }
    .business-txt h2 {
        font-size: 45px;
    }
    
    .business-txt p {
        font-size: 20px;
    }
    
    .business-form h3 {
        font-size: 30px;
    }
    
    .our-partners.trusted h2 {
        font-size: 35px;
    }
    .boost-sec .boost-txt p {
        font-size: 20px;
    }
    
    .blue-sec.boost-blue .blue-txt h2 {
        font-size: 50px;
    }
    
    .blue-sec.boost-blue .blue-txt p {
        font-size: 20px;
    }
    
    .offer-main.first-offer h3 {
        font-size: 22px;
    }
    
    .blue-sec.boost-blue .blue-txt ul li h3 {
        font-size: 22px;
    }
    .digital-market-bg > h2 {
        font-size: 50px;
    }
    .working-txt h2 {
        font-size: 45px;
    }
    .business-tab-main h2 {
        font-size: 50px;
    }
    .business-tab-sec {padding: 0 0 70px;}
    .tab-content-main h3 {
        font-size: 30px;
    }
    .tab-content-main ul li {
        font-size: 18px;
    }
    .tab-content-main h3 {
        font-size: 30px;
    }
    
    .tab-content-main ul li {
        font-size: 18px;
    }
    
    .award-main .award-price p {
        font-size: 58px;
    }
    
    .award-price {
        width: 180px;
        height: 180px;
    }
    
    .award-winning ul li {
        font-size: 18px;
    }
    
    p.top-space {
        font-size: 18px;
        margin-top: 20px;
    }
    .award-bottom h2 {
        font-size: 50px;
    }
    .award-winning h2 {
        font-size: 50px;
    }
}
@media screen and (max-width:1400px){
    .navigation_menu {
        flex: 0 0 70%;
    }
    .navigation_menu ul li a {
        font-size: 18px;
    }
    .careers-sec .heading h2 {
        font-size: 70px;
    }
    .careers-sec .heading p {
        font-size: 25px;
    }
    .careers-sec .content p {
        font-size: 20px;
    }
    .careers-sec .content a.btn {
        font-size: 20px;
        width: 190px;
        height: 50px;
        line-height: 50px;
    }
    .banner-txt h1 {
        font-size: 70px;
    }
    .f1-info p {
        font-size: 16px;
    }
    .f1-info p {
        font-size: 16px;
    }
    .footer-column ul li a {
        font-size: 18px;
    }
    .f-info p {
        font-size: 18px;
    }
    .website-sec .digital-content h2 {
        font-size: 50px;
    }
    
    .website-sec .digital-content p {
        font-size: 20px;
    }
    
    .digital-image {
        width: 800px;
    }
    .keyword-main .user-lists ul li {
        padding: 5px 15px;
    }
    .left-content a {
        font-size: 18px;
    }
    .center-content a {
        font-size: 18px;
    }
    .dash-txt h3 {
        font-size: 18px;
    }
    .dash-bg-2 h3 {
        font-size: 18px;
    }
    .login-form h1 {
        font-size: 45px;
    }
    
    .login-form p {
        font-size: 24px;
        margin-bottom: 30px;
    }
    header.login-header {
        padding: 15px 0;
    }
    section.login-sec {
        padding: 60px 0;
    }
}
@media screen and (max-width:1300px){
    .pricing_main {
        height: 800px;
        background-position: -50px -250px;
    }
}

@media screen and (max-width:1200px){
    .testimonial-main.testimonial-2 {
        background-position: 0 0px;
    }
    
    .testimonial-main {
        background-position: 0 30px;
    }
    
    .testimonial-main.position-top {
        background-position: 0 90px;
    }
    .keyword-inner {
        display: block;
        text-align: center;
    }
    
    .keyword-inner img {
        width: 150px;
        margin-bottom: 15px;
    }
    .keyword-main ul {
        display: block;
    }
    .drop-menu {
        margin-bottom: 20px;
    }
    .keyword-main .user-lists ul {
        display: inline-flex;
    }
}
@media screen and (max-width:1199px){
    .navigation_menu ul li {
        padding: 0 10px;
    }
    .careers-sec .heading p {
        font-size: 20px;
    }
    .careers-sec .content p {
        font-size: 18px;
    }
    .footer-column h3 {
        font-size: 25px;
    }
    .user-meta ul li.user {
        width: 30px;
        height: 30px;
        line-height: 28px;
    }
    
    .user-meta ul li.user img {
        width: 15px;
    }
    
    .user-meta ul li {
        margin-right: 5px;
    }
    
    .user-meta ul li img {width: 17px;}
    .digital-content h2 {
        font-size: 30px;
    }
    
    .digital-content p {
        font-size: 18px;
    }
    
    .digital-list ul li a {
        font-size: 25px;
    }
    
    .digital-list ul li img {
        width: 25px;
    }
    
    .digital-list ul li {
        margin-bottom: 15px;
    }
    
    .section {
        padding: 60px 0;
    }
    .contact-sec {
        padding-top: 120px;
    }
    .digital-image {
        width: 660px;
        top: 30px;
    } 
    .web-sec-img .digital-image {
        top: 90px;
    }
    .feature-sec .px-5 {padding-left: calc(var(--bs-gutter-x) * .5) !important;padding-right: calc(var(--bs-gutter-x) * .5) !important;}
    .contact-main-inner p {
        font-size: 18px;
    }
    
    .contact-main-inner h3 {
        font-size: 31px;
    }
    .contact-main h2 {
        font-size: 50px;
    }
    .executive-sec .executive-main h2 {
        font-size: 30px;
    }
    .executive-sec .executive-main p {
        font-size: 20px;
    }
    .executive-sec .pc-img img {
        width: 600px;
    }
    .executive-sec {
        padding-bottom: 200px;
    }
    .blue-sec-main h2 {
        font-size: 50px;
        margin-bottom: 50px;
    }
    .business-info h3 {
        font-size: 28px;
    }
    .business-info {padding: 25px;}
    section.whats-next-sec h2 {
        font-size: 50px;
    }
    
    .whats-next-sec h3 {
        font-size: 24px;
    }
    
    .whats-next-sec {
        padding-bottom: 150px;
        padding-top: 0px;
    }
    
    .lists li {
        font-size: 16px;
    }
    .progressbar li:after {
        width: 70%;
        left: -35%;
        top: 24px;
    }
    
    .progressbar li:before {
        width: 50px;
        height: 50px;
        font-size: 25px;
        line-height: 49px;
    }
    .progressbar {
        width: 100%;
    }
    .blue-inner h3 {
        font-size: 24px;
    }
    
    .executive-sec .pc-img img {
        position: unset;
        width: 460px;
    }
    
    .pc-img {
        text-align: center;
        margin-top: 20px;
    }
    
    .executive-sec {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .discription {
        font-size: 20px;
    }
    
    .discription-txt {
        font-size: 16px;
    }
    .compare-sec {
        padding-top: 100px;
        margin-top: 50px;
    }
    .digital-market-bg .website-sec {
        padding-bottom: 100px;
    }
    .digital-market-bg > h2 {
        font-size: 40px;
    }
    .navigation_menu {
        display: none;
    }
    h2.menu-icon {
        color: #8368d4;
        cursor: pointer;
        display: block;
    }
    h2.menu-icon .fa-times{
        display: none;
    }
    h2.menu-icon.close .fa-bars{
        display: none;
    }
    h2.menu-icon.close .fa-times{
        display: block;
    }
    .navigation_menu {
        position: fixed;
        display: block;
        background: rgb(131 104 212 / 81%);
        width: 300px;
        left: -100%;
        height: 100%;
        top: 0;
        padding-top: 50px;
        transition: 0.5s all;
    }
    .navigation_menu ul li a {
        color: #fff;
    }
    
    .navigation_menu ul li {
        display: block;
    }
    
    .navigation_menu ul {
        float: unset;
        text-align: center;
        padding: 0;
    }
    
    .navigation_menu ul li:last-child {display: inline-block;}

.navigation_menu ul li:nth-last-child(2),.navigation_menu ul li:nth-last-child(3) {
    display: inline-block;
    margin: 0 5px;
}

    .navigation_menu ul li {
        padding: 5px 0px;
    }
    
    .navigation_menu.active {
        left: 0;
        transition: 0.5s all;
    }

    .navigation_menu ul.sub-menu {
        position: relative;
        background: transparent;
    }
    
    .navigation_menu ul.sub-menu::before {
        content: none;
    }

    .header_inner {
        justify-content: space-between;
    }

    
    .header_inner {
        position: relative;
    }
    .price-info ul li {
        font-size: 11px;
    }
    
    .pricing_main {
        height: 890px;
        background-position: -40px -160px;
    }
}

@media screen and (max-width:1024px){
    .banner-txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .banner-txt h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
    .banner-txt p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .testi-txt {
        font-size: 16px;
    }
}

@media screen and (max-width:991px){
    .ready-bg {
        margin-top: -150px;
    }
    .ready-txt {
        margin-top: 30px;
    }
    .counter-txt {
        margin-bottom: 20px;
    }
    .benefit_img {
        display: none;
    }
    
    .benefit-txt {
        width: 100%;
    }
    
    
    .footer-bottom {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .form-sec {
        padding-bottom: 50px;
    }
    .footer ul.social-icons {
        text-align: center;
    }
    .footer-column ul.social-icons {
        text-align: left;
    }
    .footer-logo img {
        width: 100px;
    }
    .careers-sec {
        padding: 100px 0 150px;
    }
    .footer-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .form-sec {
        padding-bottom: 30px;
    }
    .footer {
        padding-top: 120px;
        margin-top: -110px;
    }
    .container {
        max-width: 800px;
    }

    .digital-image {
        position: unset;
    }
    
    .website-sec {background-color: #30225c;}
    
    .digital-image {
        display: none;
    }
    
    .feature-content-main .feature-txt {
        display: block;
    }
    
    .over-txt {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .over-txt br {
        display: none;
    }
    
    ul.feature-list li a {
        font-size: 17px;
    }
    
    ul.feature-list li img {
        width: 30px;
        top: 3px;
    }
    
    ul.feature-list li {
        padding-left: 40px;
    }
    .digital-list {
        padding-left: 0;
    }
    .feature-main {
        margin-top: 0;
    }
    
    .feature-img {text-align: center;height: 200px;}
    
    .feature-img img {
        height: 100%;
        width: auto;
    }
    
    .website-sec.hosting {margin-bottom: 100px;}
    .feature-content-main {
        padding: 30px;
    }
    .contact-sec {
        padding-bottom: 140px;
    }
    .business-info {
        margin-bottom: 24px;
    }
    .discription {
        font-size: 20px;
    }
    
    .discription-txt {
        font-size: 15px;
    }
    .offer-main.first-offer {
        display: none;
    }
    
    .blue-sec.boost-blue .blue-txt ul li.mobile {
        display: block;
    }
    
    .blue-sec.boost-blue .blue-txt ul li h3 {
        font-size: 20px;
    }
    .blue-sec.boost-blue .blue-txt ul li {
        flex: 1 1 33%;
        margin-bottom: 20px;
    }
    .blue-sec.boost-blue .blue-txt ul li {
        flex: 1 1 33%;
        margin-bottom: 20px;
    }
    
    .blue-sec.boost-blue .blue-txt h2 {
        font-size: 40px;
    }
    
    .blue-sec.boost-blue .blue-txt h2 br {
        display: none;
    }
    
    .blue-sec.boost-blue .blue-txt p {
        font-size: 18px;
    }
    
    .blue-sec.boost-blue .blue-txt p br {
        display: none;
    }
    .blue-sec.boost-blue {
        padding: 50px 0;
    }
    .boost-sec {
        padding: 50px 0;
    }
    .boost-sec .boost-txt p {
        font-size: 18px;
    }
    .testimonial-main.position-top {background-position: 0px 20px;}

    .testimonial-main.testimonial-2 {background-position: 0 -76px;}
    .testimonial-txt p {
        font-size: 18px;
    }

    .industies-txt h2 {
        font-size: 35px;
    }
    
    .open-img {
        margin-bottom: 20px;
    }
    
    .industries-sec {
        padding-bottom: 50px;
    }
    .open-img.desktop {
        display: none;
    }
    .open-img.mobile {
        display: block;
    }
    .industies-txt h2 br {
        display: none;
    }
    .website-sec {
        min-height: auto;
    }
    .featurecol-1.col-lg-12 {
        flex: 0 0 100%;
    }
    .digital-market-bg .website-sec {
        padding-bottom: 0px;
    }
    .main-bg.service-bg {
        padding: 100px 0 130px;
        margin-top: 40px;
    }
    .working-main h3 {
        font-size: 30px;
    }
    .pricing_main {
        background-position: right center;
        margin-bottom: 25px;
        height: 770px;
    }
    .price-info ul li {
        font-size: 18px;
    }
    .dashboard-nav-right {
        min-height: 45px;
    }
    .keyword-main {
        margin-bottom: 15px;
        height: auto;
    }
    
    .keyword-inner p {
        font-size: 18px;
    }
    
    .keyword-inner h5 {
        text-align: center;
    }
    
    .keyword-inner h5 span {position: unset;}
    
    .total-img {
        padding: 0;
        text-align: center;
    }
    
    .total-content {
        text-align: center;
        margin-top: 10px;
    }
    
    .total-content p {
        font-size: 18px;
    }
    .dash-bg-2 {margin-top: 10px;}

    .business-tab-main .nav-tabs li a {
        font-size: 16px;
    }
    
    .business-tab-main .tab-content {
        padding: 0;
    }
    
    .phone-img img {
        position: unset;
    }
    
    .business-tab-main .tab-content-main h3 br {
        display: none;
    }
    .tab-content-main {
        background-size: cover;
    }
    .website-sec .digital-content h2 br {display: none;}
    .award-winning h2 {
        font-size: 45px;
    }
    .business-tab-main h2{
        font-size: 45px;
    }
}

@media screen and (max-width:800px){
    .container {
        max-width: 90%;
    }

    .industry-txt p {
        font-size: 20px;
    }
    
    .industry-txt h2 {
        font-size: 30px;
    }
    
    .industry-txt ul li {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .tab-main .nav .nav-item {
        flex: 1 1 100%;
    }

}
@media screen and (max-width:767px){
    .logo img {
        width: 200px;
    }
    .banner img {
        height: 730px;
        object-fit: cover;
    }
    
    .banner-txt p br {
        display: none;
    }
    .banner.banner-inner img {
        height: 400px;
        object-fit: cover;
    }
    ul.feature-list {
        padding-right: 0;
        border: none;
    }
    ul.feature-list {
        padding-right: 0;
        border: none;
    }
    
    .website-sec .digital-content h2 {
        font-size: 40px;
    }
    
    .website-sec .digital-content p {
        font-size: 18px;
    }
    
    .featurecol-1 p {
        font-size: 24px;
    }
    
    .featurecol-2 p {
        font-size: 24px;
    }
    .contact-sec .row.pt-5.mt-5 {
        padding-top: 1.5em !important;
        margin-top: 1.5em !important;
    }
    .contact-person {
        margin-top: 40px;
    }
    ul.progressbar {
        display: none;
    }
    
    ul.lists {
        margin-bottom: 30px;
    }
    
    .whats-next-sec h3 {
        font-size: 30px;
    }
    
    .lists li {
        font-size: 18px;
    }
    
    section.whats-next-sec h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .blue-inner {
        margin-bottom: 20px;
    }
    .reverse-executive-sec2.executive-sec {
        padding-bottom: 60px;
    }
    .blue-sec-main h2 {
        font-size: 40px;
    }
    .reverse-executive-sec.executive-sec {
        padding-bottom: 60px;
    }
    .our-partners ul li {
        width: 50%;
        flex: 1 1 50%;
        margin-bottom: 15px;
    }
    
    .our-partners ul li img {
        width: 130px;
    }
    
    .our-partners ul li:last-child img {
        width: 90px;
    }
    .our-partners ul {
        flex-wrap: wrap;
    }
    .our-partners.our-partners-sec ul li {
        flex: 1 1 50%;
    }
    
    .our-partners.our-partners-sec ul li:nth-last-child(2) {
        padding: 0;
    }
    
    .our-partners.our-partners-sec ul li:nth-last-child(1) {
        padding: 0;
    }
    .our-partners.trusted li {
        flex: 1 1 50%;
    }
    .our-partners.trusted ul li {
        margin-bottom: 30px;
    }
    .our-partners.trusted ul li:nth-last-child(2) img {
        width: 80px;
    }
    .compare-sec {margin-top: 30px;padding-top: 100px;}

    .line {
        top: 130px;
    }
    .discription {
        font-size: 18px;
    }
    
    .discription-txt {
        padding-left: 10px;
        font-size: 14px;
    }
    .boost-it img {
        width: 180px;
    }
    .boost-it {
        padding-bottom: 10px;
    }
    .blue-sec.boost-blue .blue-txt h2 {
        font-size: 30px;
    }
    .blue-sec.boost-blue .blue-txt p {
        font-size: 16px;
    }
    .blue-sec.boost-blue .blue-txt ul li {
        flex: 1 1 50%;
    }
    .blue-sec.boost-blue .blue-txt ul li h3 {
        font-size: 18px;
    }
    .digital-market-bg {
        padding-top: 100px;
    }
    
    .digital-market-bg > h2 {
        font-size: 35px;
    }
    .digital-market-bg > h2 br{
        display: none;
    }
    .working-main {
        margin-bottom: 25px;
    }
    .working-main img {
        height: 50px;
    }
    .pricing_main {
        height: auto;
    }
    .comparison-main tbody th {
        height: auto;
        line-height: 22px;
        padding: 5px 0;
        font-size: 15px;
    }
    .expand-main h2 {
        padding-left: 0;
    }
    .award-main {
        background-size: cover;
        margin-bottom: 20px;
        height: auto;
    }
    .award-winning {
        padding-top: 50px;
    }
}

@media screen and (max-width:631px){
    .banner-txt h1 {
        font-size: 60px;
    }
    
    .careers-sec .heading h2 {
        font-size: 60px;
    }
    
    .careers-sec .heading p {
        font-size: 18px;
    }
    
    .careers-sec .content p {
        font-size: 16px;
    }
    .copyright-text {
        font-size: 14px;
    }
    .featurecol-1 p {
        font-size: 20px;
    }
    
    .featurecol-1 {
        padding: 10px;
    }
    
    .featurecol-2 {
        padding: 10px;
    }
    
    .featurecol-2 p {
        font-size: 20px;
    }
    .banner.banner-inner .banner-txt h1 {
        font-size: 50px;
    }
    .contact-main h2 {
        font-size: 35px;
    }
    .other-ways h3 {
        font-size: 30px;
    }
    .contact-main h2 br {
        display: none;
    }

    section.whats-next-sec h2 {
        font-size: 30px;
    }
    
    .whats-next-sec h3 {
        font-size: 24px;
    }
    
    .lists li {
        font-size: 16px;
    }

    .offer-sec .heading h2 {
        font-size: 35px;
        margin-bottom: 5px;
    }
    
    .ready-txt h2 {
        font-size: 35px;
    }
    .boost-txt h2 {
        font-size: 35px;
    }

    .ready-txt h3 {
        font-size: 20px;
    }
    
    .ready-txt p {
        font-size: 16px;
    }
    
    .benefit-txt h2 {
        font-size: 35px;
    }
    
    .benefit-txt {padding-right: 50px;padding-bottom: 0;}
    
    .list_with_img {
        display: block;
    }
    
    .list_with_img img {
        margin-bottom: 20px;
    }
    
    .list_with_img ul li img {
        margin-bottom: 0;
    }
    .banner-txt h1 {
        font-size: 45px;
    }
    .banner img {
        height: 600px;
    }

    .boost-it {
        margin-bottom: 25px;
    }
    .compare-sec {
        display: none;
    }
    .discription {
        margin-bottom: 10px;
    }
    section.compare-sec.mobile {
        display: block;
        padding-top: 60px;
    }
    .testimonial-main.testimonial-2 {
        background-position: 0 -110px;
    }
    .award-winning h2 {
        font-size: 35px;
    }
    .business-tab-main h2{
        font-size: 35px;
    }
    .tab-content-main h3 {
        font-size: 25px;
    }
    .website-sec .digital-content h2 {
        font-size: 35px;
    }
    
    .digital-content ul li {
        font-size: 18px;
    }
}

@media screen and (max-width:575px){
    .dash-img {
        margin-top: 15px;
    }
    .keyword-main ul {
        margin: 0;
    }
    .keyword-main .user-lists li img {
        width: 30px;
        height: auto;
    }
    button.log-in,button.sign-up {
        font-size: 18px;
        width: 130px;
        height: 45px;
        margin: 0;
    }
    
    .login-form {
        padding: 30px 15px;
    }
    .login-form h1 {
        font-size: 30px;
        margin-top: 15px;
    }
    
    .login-form p {
        font-size: 18px;
    }
    .login-form form {
        padding: 0 30px;
    }
}
@media screen and (max-width:400px){
    .banner-txt h1 {
        font-size: 35px;
    }
}